In [3]:
import setup_django
setup_django.init()

In [4]:
from movies.models import Movie

qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')

In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       None           0.0
1  Shadows in Paradise   1986-10-16       None           0.0
2           Four Rooms   1995-12-09       None           0.0
3       Judgment Night   1993-10-15       None           0.0
4            Star Wars   1977-05-25       None           0.0
5         Finding Nemo   2003-05-30       None           0.0
6         Forrest Gump   1994-07-06       None           0.0
7      American Beauty   1999-09-15       None           0.0
8         Citizen Kane   1941-04-30       None           0.0
9   Dancer in the Dark   2000-05-17       None           0.0